.Crisps-img {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/81xOqA72cAL._SY450_.jpg");
    background-size: 25vw 45vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 500px;
}