.CupNoodle-img {
    background-image: url("https://hlj.com/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/n/s/nss23293_0.jpg");
    background-size: 25vw 45vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 500px;
}