.Soda-img {
    background-image: url("https://images.japancentre.com/images/pics/12871/large/6623-hatakosen-ramune.jpg?1548764266");
    background-size: 25vw 45vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 700px;
}