.VendingMachine-img {
    background-image: url("https://images.unsplash.com/photo-1536689318884-9ee850c4c095?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2253&q=80");
    background-size: 75vw 75vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 700px;
}